.footer {
  padding-top: 25rem;
  text-align: center;
  height: 28+7.5+6.4rem;

  .button {
    &-highlight-word {
      &::before {
        width: 18rem;
      }
    }
  }

  .rights {
    @include font(light, 1.8rem, normal, uppercase) {
      letter-spacing: 3px;
      opacity: .5;
    }

    margin-top: 5.7rem;
    display: block;
  }
}