.header {

  .go-surf {
    @include font(bold, 20rem, .8, uppercase);
    @include size($maw: 46rem);
    @include pos($t: 0, $l: 0);
    position: absolute;
    z-index: 1;
    opacity: .07;
  }

  .square {
    @include size(16.8rem, 19rem);
    background-color: $cyan;
    position: absolute;
    z-index: 1;
  }

  .logo {
    @include font(bold, 2rem, $tt:uppercase);
    @include pos(9rem, $l: -2rem);
    position: absolute;
    top: 9rem;
    z-index: 2;
    transform: rotate(-90deg);
    transform-origin: bottom;

    .text {
      @include font(bold, 6rem);

      &-content {
        display: inline-block;
      }

      span {
        @include size(2rem, .1rem);
        display: inline-block;
        background-color: $white;
        margin-bottom: 2rem;
      }
    }
  }

  #map {
    @include pos(0, 0);
    position: absolute;
    z-index: 1;

    .line {
      display: none;
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
    }
  }

  .map-location {
    @include font(regular, 1.6rem);
    position: absolute;
    z-index: 1;

    .dot {
      @include size(1.2rem, 1.2rem);
      @include pos(-.7rem, -3rem);
      position: absolute;
      background-color: $cyan;
      border-radius: 50%;
    }

    &-box {
      position: relative;
    }

    &.south {
      @include pos(22.5rem, 66rem);
    }

    &.west {
      @include pos(32rem, 45rem);
    }

    &.east {
      @include pos(36rem, 36.5rem);
    }

    &.north {
      @include pos(46.8rem, 30rem);
    }
  }

  #map-current-location {
    @include font(regular, 1.6rem);
    position: absolute;
    z-index: 1;
    top: 7rem;
    right: 29rem;
  }
}

.snake-line {
  .header #map &.line {
    display: block;
  }

  animation: snakeLine 1s linear;
  animation-fill-mode: forwards;
}

@keyframes snakeLine {
  0% {
    stroke-dashoffset: 600;
  }

  100% {
    stroke-dashoffset: 0;
  }
}