<div class="info-block">
  <h4 class="info-title">{{title}}</h4>
  <span class="info-subtitle">{{subtitle}}</span>
  <div class="info-block-inner">
    <div class="info-block-inner-item">
      <img src="../img/icons/surf.svg" alt="">
      <span class="info-block-inner-item-title">{{surf}}</span>
      <span class="info-block-inner-item-subtitle">Surf (FT)</span>
    </div>
    <div class="info-block-inner-item">
      <img src="../img/icons/water.svg" alt="">
      <span class="info-block-inner-item-title">{{tide}}</span>
      <span class="info-block-inner-item-subtitle">TIDE (FT)</span>
    </div>
    <div class="info-block-inner-item">
      <img src="../img/icons/wind.svg" alt="">
      <span class="info-block-inner-item-title">{{wind}}</span>
      <span class="info-block-inner-item-subtitle">WIND (KTS)</span>
    </div>
  </div>
</div>