<div class="sleep-slider-slide">
  <div class="slider-head" style="background-image: url(../img/sleep-section/slide-1.png)">
    {{>section-subtitle class="sleep"
      decor-line-direction="left"
      decor-line-content="shore"
      title="auberge"
      country="australia"
    }}

    <div class="section-subtitle direction-left">
      <div class="decor-line-right">rating</div>
      <div class="rating">
        <h3 class="title virgin">excellent</h3>
        {{>stars}}
      </div>
    </div>
    <img class="hammock" src="img/sleep-section/hammock.png" alt="">
    <img class="frangipani-sm" src="img/sleep-section/frangipani-sm.png" alt="">
  </div>

  <div class="slider-list">
    <div class="item">
      <div class="description">resort</div>
      <div class="title">auberge
        Australia</div>
    </div>
    <div class="item nights">
      <div class="description"># of Nights</div>
      <div class="title letsp"><span class="nights-val">1</span> Nights</div>
      <div class="calc-btns">
        <span class="minus nights-minus">-</span>
        <span class="plus nights-plus">+</span>
      </div>
    </div>
    <div class="item guests">
      <div class="description"># of Guests</div>
      <div class="title letsp"><span class="guests-val">1</span> Guests</div>
      <div class="calc-btns">
        <span class="minus guests-minus">-</span>
        <span class="plus guests-plus">+</span>
      </div>
    </div>
    <div class="item">
      <div class="description">Pricing</div>
      <div class="title">$<span class="sleep-sum">15</span> USD</div>
      <span class="item-span">Per Night</span>
    </div>
  </div>
</div>