<section class="sleep-section" id="sleep-section">
  <div class="container">
    <h2 class="section-title">sleep</h2>

    {{> slider-nav class="sleep"}}

    <div class="sleep-slider">
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
      {{>sleep-slide}}
    </div>

    {{>button class="sleep" text1="book" text2="stay"}}
    <img class="frangipani-lg" src="../img/sleep-section/frangipani-lg.png" alt="">
  </div>
</section>