.travel-slider {
  .slider-head {
    @include size(100%, $mih: 78rem);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    padding-top: 9.2rem;
    position: relative;

    .section-subtitle.direction-left {
      padding-left: 0;
      @include pos($b: 0, $l: 10%);
      position: absolute;

      .virgin {
        padding-right: 5.2rem + 2.6rem;
        background: url(../img/travel-section/virgin.png) right center no-repeat;
      }
    }

    .airplane {
      @include pos($r: 0, $b: 0);
      position: absolute;
    }
  }

  .slider-list {
    display: flex;
    justify-content: space-between;
    padding: 10rem 5% 0 5%;

    .item {
      @include size($mih: 20rem);
      position: relative;

      .description {
        @include font(regular, 1.8rem, (22/18), uppercase) {
          text-align: right;
          letter-spacing: 8px;
          white-space: nowrap;
          opacity: .5;
        }

        @include size($miw: 20rem);
        @include pos($l: -11rem, $t: 9rem);
        position: absolute;
        transform: rotate(-90deg);
      }

      .title {
        @include font(bold, 4rem, 1, uppercase);
        max-width: 24rem;
        padding-left: 1.8rem;
      }

      span {
        @include font(regular, 1.4rem, 1, uppercase) {
          opacity: .75;
          letter-spacing: 5px;
          display: block;
          text-align: right;
        }
      }
    }
  }
}