.travel-section {
  .container {
    height: 180rem;
  }

  .section-title {
    margin-bottom: 9.2rem;

    &::before {
      content: 'travel';
    }
  }

  .slider-nav {
    top: 58rem;

    a {
      opacity: .5;
      &:hover{
        opacity: 1;
      }
    }
  }

  @import 'travel-slider';

  .button {
    margin: 9rem 0 0 50%;
    transform: translateX(-50%);
  }

  .coctail {
    @include pos($b: 4rem, $r:0);
    position: absolute;
    transform: translateX(50%);
  }
}