<header class="header">
  <div class="go-surf">go surf</div>

  <!-- logo -->
  <div class="square"></div>
  <div class="logo">
    <div class="text">
      <p class="text-content">go</p>
      <span></span>
      <p class="text-content">surf</p>
    </div>
  </div>

  {{>map}}
  <div class="map-location north">
    <div class="map-location-box">
      <div class="dot animate__animated animate__fadeIn"></div>
      <span id="map-total-location">North Shore | Malibu, CA</span>
    </div>
  </div>
  <span id="map-current-location">Current Location</span>
</header>