<div class="travel-slider-slide">
  <div class="slider-head" style="background-image: url(../img/travel-section/slide-1.jpg)">
    {{>section-subtitle class="travel"
      decor-line-direction="left"
      decor-line-content="shore"
      title="airlie beach"
      country="australia"
    }}

    <div class="section-subtitle direction-left">
      <div class="decor-line-right">airline</div>
      <h3 class="title virgin">virgin australia</h3>
    </div>
    <img class="airplane" src="img/travel-section/airplane.png" alt="">
  </div>

  <div class="slider-list">
    <div class="item">
      <div class="description">Destination</div>
      <div class="title">Queensland
        Australia</div>
    </div>
    <div class="item">
      <div class="description">Distance</div>
      <div class="title">7,065 Miles</div>
    </div>
    <div class="item">
      <div class="description">Travel Time</div>
      <div class="title">23 Hours <br>
        5 Minutes</div>
    </div>
    <div class="item">
      <div class="description">Pricing</div>
      <div class="title">$1,976 USD</div>
      <span>Round Trip</span>
    </div>
  </div>
</div>