<section class="travel-section" id="travel-section">
  <div class="container">
    <h2 class="section-title">travel</h2>

    {{> slider-nav class="travel"}}

    <div class="travel-slider">
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
      {{>travel-slide}}
    </div>

    {{>button class="travel" text1="book" text2="flight"}}
    <img class="coctail" src="../img/travel-section/coctail.png" alt="">
  </div>
</section>