<aside class="hero-sidebar">
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="#surf-section" class="menu-list-item-link">
          <span class="icon icon-surf"></span>
          Surf
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#travel-section" class="menu-list-item-link">
          <span class="icon icon-travel"></span>
          Travel
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#sleep-section" class="menu-list-item-link">
          <span class="icon icon-camp"></span>
          Sleep
        </a>
      </li>
      <li class="menu-list-item">
        <a href="#shop-section" class="menu-list-item-link">
          <span class="icon icon-surfboard"></span>
          Shop
        </a>
      </li>
    </ul>
  </nav>

  <div class="location">
    <div class="date">
      <span class="day">20</span>
      <div class="month-year">06 | 2018</div>
    </div>

    <a class="locate" href="#">California</a>
  </div>
</aside>

<div class="scroll-down">
  <a class="scroll-down-arrows" href="#"></a>
</div>