{{>slider-nav class="hero"}}

<div class="hero-slider">
  <div class="slider-item">
    <div class="slider-item-info">
      <div class="slider-item-additional decor-line-left">SURF</div>
      <h2 class="slider-item-title">NORTH SHORE</h2>
      <div class="slider-item-additional decor-line-left">CONDITION</div>
      <h2 class="slider-item-subtitle">RADICAL</h2>

      <a class="slider-item-link hero-slider-next" href="">
        <img src="img/icons/arrow-right.svg" alt="right arrow">
      </a>
    </div>
  </div>

  <div class="slider-item">
    <div class="slider-item-info">
      <div class="slider-item-additional decor-line-left">SURF</div>
      <h2 class="slider-item-title">SOUTH SHORE</h2>
      <div class="slider-item-additional decor-line-left">CONDITION</div>
      <h2 class="slider-item-subtitle">RADICAL</h2>

      <a class="slider-item-link hero-slider-next" href="">
        <img src="img/icons/arrow-right.svg" alt="right arrow">
      </a>
    </div>
  </div>

  <div class="slider-item">
    <div class="slider-item-info">
      <div class="slider-item-additional decor-line-left">SURF</div>
      <h2 class="slider-item-title">WEST SHORE</h2>
      <div class="slider-item-additional decor-line-left">CONDITION</div>
      <h2 class="slider-item-subtitle">RADICAL</h2>

      <a class="slider-item-link hero-slider-next" href="">
        <img src="img/icons/arrow-right.svg" alt="right arrow">
      </a>
    </div>
  </div>

  <div class="slider-item">
    <div class="slider-item-info">
      <div class="slider-item-additional decor-line-left">SURF</div>
      <h2 class="slider-item-title">EAST SHORE</h2>
      <div class="slider-item-additional decor-line-left">CONDITION</div>
      <h2 class="slider-item-subtitle">RADICAL</h2>

      <a class="slider-item-link hero-slider-next" href="">
        <img src="img/icons/arrow-right.svg" alt="right arrow">
      </a>
    </div>
  </div>
</div>

<!-- Hero slider preview -->
<div class="hero-slider-preview">
  <div class="hero-slider-preview-box">
    <div class="line"></div>
    <div class="content">
      <span class="number">01</span>
      <div class="header">North shore</div>
    </div>
  </div>

  <div class="hero-slider-preview-box">
    <div class="line"></div>
    <div class="content">
      <span class="number">02</span>
      <div class="header">South shore</div>
    </div>
  </div>

  <div class="hero-slider-preview-box">
    <div class="line"></div>
    <div class="content">
      <span class="number">03</span>
      <div class="header">West shore</div>
    </div>
  </div>

  <div class="hero-slider-preview-box">
    <div class="line"></div>
    <div class="content">
      <span class="number">04</span>
      <div class="header">East shore</div>
    </div>
  </div>
</div>