<div class="shop-slide">
  <div class="offer">
    <div class="section-subtitle direction-left">
      <div class="decor-line-right">Style</div>
      <h3 class="title">North Nugget TT <br>
        Surfboard</h3>
    </div>

    {{>stars}}
    <div class="price">$799<sup>99</sup></div>

    {{>button text1="drop" text2="in"}}
  </div>

  <div class="main-article">
    <img src="img/shop-section/surfboard.png" alt="surfboard">
  </div>

  <div class="secondary-articles-box">
    <h4 class="secondary-articles-title">extras</h4>
    <div class="secondary-articles">
      <div class="article">
        <img src="img/shop-section/wax.png" alt="wax">
        <h5 class="title">sex wax</h5>
        <div class="price">$24.99</div>
      </div>
      <div class="article">
        <img src="img/shop-section/bracelet.png" alt="bracelete">
        <h5 class="title">pura vida</h5>
        <div class="price">$27.99</div>
      </div>
    </div>
  </div>
</div>