{{>slider-nav class="surf"}}
<div class="surf-slider">
  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Malibu<br>Beach</h3>
      <div class="label">California | USA</div>
      {{>info-block title="Malibu beach" subtitle="California" surf="8 - 10" tide="+1.5" wind="4 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Airlie<br>Beach</h3>
      <div class="label">Queensland | Australia</div>
      {{>info-block title="Airlie beach" subtitle="Australia" surf="9 - 13" tide="+2.3" wind="4 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Cloud<br>Nine</h3>
      <div class="label">Siargao | Philippines</div>
      {{>info-block title="Cloud nine" subtitle="Philippines" surf="9 - 14" tide="+2.5" wind="6 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Vieux<br>Boucau</h3>
      <div class="label">Hossegor | France</div>
      {{>info-block title="Vieux Boucau" subtitle="France" surf="8 - 10" tide="+1.9" wind="5 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Malibu<br>Beach</h3>
      <div class="label">California | USA</div>
      {{>info-block title="Malibu beach" subtitle="California" surf="8 - 10" tide="+1.5" wind="4 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Airlie<br>Beach</h3>
      <div class="label">Queensland | Australia</div>
      {{>info-block title="Airlie beach" subtitle="Australia" surf="9 - 13" tide="+2.3" wind="4 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Cloud<br>Nine</h3>
      <div class="label">Siargao | Philippines</div>
      {{>info-block title="Cloud nine" subtitle="Philippines" surf="9 - 14" tide="+2.5" wind="6 SE"}}
    </div>
  </div>

  <div class="surf-slider-slide">
    <div class="inner-content">
      <h3 class="title">Vieux<br>Boucau</h3>
      <div class="label">Hossegor | France</div>
      {{>info-block title="Vieux Boucau" subtitle="France" surf="8 - 10" tide="+1.9" wind="5 SE"}}
    </div>
  </div>
</div>