.surf-slider {
  @include size(100%);
  padding-top: 12rem;

  &-slide {
    @include size(39rem, $h: 75rem);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:nth-child(4n + 1) {
      margin-top: 3.2rem;
      background-image: url('../img/surf-section/slide-1.jpg');
    }

    &:nth-child(4n + 2) {
      background-image: url('../img/surf-section/slide-2.jpg');
    }

    &:nth-child(4n + 3) {
      margin-top: 9rem;
      background-image: url('../img/surf-section/slide-3.jpg');
    }

    &:nth-child(4n + 4) {
      margin-top: .5rem;
      background-image: url('../img/surf-section/slide-4.jpg');
    }

    .inner-content {
      @include size(100%, 100%);
      background-color: rgba($black, .85);
      transition: background-color .5s ease;
      padding-top: 7.2rem;
      padding-left: 4rem;

      &:hover {
        background-color: transparent;
      }

      .title {
        @include font(bold, 4rem, 36/40, uppercase);
      }

      .label {
        @include font(regular, 1.8rem, 22/18, uppercase) {
          letter-spacing: 8px;
        }

        @include size(0, 0);
        @include pos($b: 8rem, $l: 4rem);
        position: absolute;
        white-space: nowrap;
        transform: rotate(-90deg);
      }

      &:hover .info-block {
        display: block;
      }

      &:hover .title,
      &:hover .label {
        display: none;
      }
    }
  }
}