.hero-sidebar {
  @include size(16.8rem, 100vh, $maw: 16.8rem);
  text-align: center;
  position: absolute;
  border-right: 1px solid rgba($white, .25);
  z-index: 1;

  .menu {
    &-list {
      @include size($h: 35.2rem);
      position: relative;
      margin-top: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-item {
        &-link {
          @include font(regular, 1.2rem, calc(14/12));
          letter-spacing: 3px;

          display: flex;
          flex-direction: column;
          transition: color .5s ease;

          &:hover {
            color: $cyan;
          }

          span {
            font-size: 4.3rem;
            display: block;
            margin-bottom: .6rem;

            &:first-child {
              padding-right: .8rem;
            }
          }
        }
      }
    }
  }

  .location {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    .findico {
      @include size(2.4rem, 2.4rem);
      background: url('../img/icons/find.svg') left no-repeat;
      padding-right: 1rem;
      margin-bottom: 2rem;
    }

    .date {
      .day {
        @include font(bold, 7.2rem, calc(7.2/6.4), uppercase);
      }

      .month-year {
        @include font(light, 1.6rem, calc(1.9/1.6));
        letter-spacing: 1.4px;
      }

      margin-bottom: 3rem;
    }

    .locate {
      @include font(light, 1.2rem, calc(1.4/1.2));
      background: url('../img/icons/location-mark.svg') left no-repeat;
      letter-spacing: 1.05px;
      padding-left: 1.8rem;
    }
  }
}

.scroll-down {
  position: absolute;
  left: 20.0rem;
  bottom: 4.1rem;
  z-index: 1;
  transition: transform .5s linear;

  &-arrows {
    @include size(2.5rem, 2.5rem);
    background: url('../img/icons/scroll-down-arrows.svg') center top no-repeat;
    display: block;
  }
}