// Hero slider
.hero-slider {
  .slider-item {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:nth-child(1) {
      background-image: url(../img/hero-background-north.jpg);
    }

    &:nth-child(2) {
      background-image: url(../img/hero-background-south.jpg);
    }

    &:nth-child(3) {
      background-image: url(../img/hero-background-west.jpg);
    }

    &:nth-child(4) {
      background-image: url(../img/hero-background-east.jpg);
    }

    &-title {
      @include font(bold, 8rem, 1.2, uppercase);
      margin: 1.5rem 0 6rem 0;
    }

    &-subtitle {
      @include font(bold, 4rem, $tt: uppercase);
      margin: 1.5rem 0 2.4rem 0;
    }
  }

  .slider-item-info {
    position: absolute;
    right: 8rem;
    bottom: 11.6rem;
    text-align: right;
  }
}

// Hero slider preview
.hero-slider-preview {
  @include size (92rem);
  @include pos ($r: 8rem, $b: 3rem);
  display: flex;
  justify-content: space-between;
  position: absolute;

  &-box {
    @include size(20rem);

    &.preview-active .line {
      background: $cyan;
    }
  }

  .line {
    @include size(100%, .4rem);
    background: $white;
    margin-bottom: .6rem;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .number {
      @include font (thin, 2.4rem, 3.4rem);
    }

    .header {
      @include font (thin, 1.6rem, calc(19/16));
      display: inline-block;
    }
  }
}

@import 'hero-sidebar';