@font-face {
  font-family: 'Fira Sans Light';
  src: url('../fonts/FiraSans-Light.eot');
  src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-Light.woff2') format('woff2'),
      url('../fonts/FiraSans-Light.woff') format('woff'),
      url('../fonts/FiraSans-Light.ttf') format('truetype'),
      url('../fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Regular';
  src: url('../fonts/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-Regular.woff2') format('woff2'),
      url('../fonts/FiraSans-Regular.woff') format('woff'),
      url('../fonts/FiraSans-Regular.ttf') format('truetype'),
      url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Bold';
  src: url('../fonts/FiraSans-ExtraBold.eot');
  src: url('../fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
      url('../fonts/FiraSans-ExtraBold.ttf') format('truetype'),
      url('../fonts/FiraSans-ExtraBold.svg#FiraSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Thin';
  src: url('../fonts/FiraSans-Thin.eot');
  src: url('../fonts/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FiraSans-Thin.woff2') format('woff2'),
      url('../fonts/FiraSans-Thin.woff') format('woff'),
      url('../fonts/FiraSans-Thin.ttf') format('truetype'),
      url('../fonts/FiraSans-Thin.svg#FiraSans-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}