html {
  @extend %regular;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
}

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  overflow: hidden;
}

section .container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding-top: 16rem;
  position: relative;
}

.slick-slide {
  outline: none;
}

/* Section titles */
.section-title {
  @include font (bold, 8rem, $tt: uppercase);
  position: relative;
  display: inline-block;
  padding-left: 24.5rem;

  &::before {
    @include font(bold, 20rem, $tt: uppercase);
    @include pos (0, $l: -5rem);
    content: 'surf';
    position: absolute;
    opacity: .02;
  }

  &::after {
    @include size(8rem, 1px);
    @include pos(0, 0);
    content: '';
    position: absolute;
    background-color: $cyan;
  }
}

/* ^ Section titles */

/* Section subtitles */
.section-subtitle {
  text-align: right;
  margin-bottom: .8rem;
  padding-right: 8rem;

  .title {
    @include font (bold, 4rem, calc(86/40), uppercase);

    & span {
      @include font(thin);
    }
  }

  &.direction-left {
    padding-right: 0;
    padding-left: 8rem;
    text-align: left;
  }
}

/* ^ Section subtitles */


/* Decoration for subtitles */
.decor-line-left,
.decor-line-right {
  @include font (light, 2.2rem, $tt:uppercase);
  letter-spacing: 7.33333px;

  opacity: 0.5;
  padding-left: 10.3rem;

  position: relative;
  display: inline-block;

  &::before {
    content: '';
    @include size(8rem);
    position: absolute;
    height: 1px;
    background-color: $white;

    left: 0;
    top: 50%;
  }
}

.decor-line-right {
  padding-left: 0;
  padding-right: 1rem;

  &::before {
    left: 100%;
  }
}

/* ^ Decoration for subtitles */


/* Slider nav */
.slider-nav {
  @include pos(4rem, 8rem);
  position: absolute;
  z-index: 1;

  a:first-child {
    margin-right: 2rem;
  }

  a {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

/* ^ Slider nav */

/* Info block */
.info-block {
  @include size(100%, 21.6rem);

  @include pos($b: 0, $l: 0) {
    position: absolute;
  }

  display: none;
  background-color: rgba($black, .85);
  padding: 2.8rem 3.2rem;

  .info {
    &-title {
      @include font(bold, 1.8rem, 26/18, uppercase);
      position: relative;
      padding-bottom: .5rem;
      margin-bottom: .8rem;

      &:after {
        @include size(8rem, 1px);
        @include pos($b: 0, $l:0);
        content: '';
        position: absolute;
        background-color: $cyan;
      }
    }

    &-subtitle {
      @include font(false, 1.6rem, 19/16);
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &-item {
      flex: 0 0 33%;
      text-align: center;

      & img {
        margin: 0 auto;
      }

      &-title,
      &-subtitle {
        display: block;
      }

      &-title {
        @include font(bold, 1.6rem, 23/16, uppercase);
      }

      &-subtitle {
        @include font(light, 1.2rem, 14/12, uppercase);
      }
    }
  }
}

/* ^ Info block */

/* Button */
.button {
  display: inline-block;
  position: relative;
  padding-right: 1rem;

  &-link {
    @include font(bold, 4rem, 1, uppercase);
    margin-right: 1.6rem;

    .line {
      @include size(2rem, 1px);
      background-color: $white;
      display: inline-block;
      margin-bottom: 1.1rem;
    }
  }

  .button-highlight-word {
    position: relative;

    &::before {
      @include size(21rem, 8rem);
      @include pos(-35%, $l: -1.8rem);

      content: '';
      position: absolute;
      display: block;
      background-color: $cyan;
      z-index: -1;
    }
  }

  .arrow {
    @include pos(50%, -2rem);
    position: absolute;
    transform: translateY(-50%);
  }

  &:hover {
    .arrow {
      animation: button-arrow 1s linear infinite;
    }
  }
}

/* ^ Button */

/* Stars */
.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .star{
    margin-left: -2rem;
  }
}

/* ^ Stars */

/* Keyframes */
@keyframes button-arrow {
  0% {
    right: -2rem;
  }

  50% {
    right: -4rem;
  }

  100% {
    right: -2rem;
  }
}

/* ^ Keyframes */