// Fonts
%bold {
  font-family: 'Fira Sans Bold', sans-serif;
}

%regular {
  font-family: 'Fira Sans Regular', sans-serif;
}

%light {
  font-family: 'Fira Sans Light', sans-serif;
}

%thin {
  font-family: 'Fira Sans Thin', sans-serif;
}

// Colors
$black: #171919;
$white: #fff;
$cyan: #4AF6CD;